body {
    background-color:#fff;
    color:black;
    font-family:Georgia,'Courier New',Courier,serif;
    font-size:18px; /* default font size */
    font-weight:normal;
}

#wrapper {
    background-color:#fff;
    margin:2em auto 3em;
    padding:1em;
    width:980px;
    border:1px dotted grey;
}

#header {
    border-bottom:1px dotted grey;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
}

#content {
    min-height:400px;
}

#msg {
    color:green;
}

#error_msg, .error_message {
    color:red;
}

div.media {
    padding:1em;
}

a img {
    border:0 solid transparent;
}

a, a:link {
    color:#30588B;
    text-decoration:none;
}

a:visited {
    color:#6495CD;
}

a:hover, a:active {
    text-decoration:underline;
}

.clear {
    clear:both;
}

fieldset {
    border:0 solid transparent;
}

form div {
    margin-bottom:0.5em;
    margin-top:0.5em;
}

form div label.label {
    float:left;
    width:11em;
}

form input, textarea, a.button {
    border:2px solid grey;
    -moz-border-radius:5px;
    padding:2px;
}

textarea {
    width:450px;
    height:300px;
}

a.button {
    background-color:lightgrey;
    font-size:80%;
    padding:3px;
    color:black;
    text-decoration:none;
}

form.button {
    display:inline;
}

form input[type="image"] {
    border:0px solid transparent;
}

form input[type="radio"], form input[type="checkbox"] {
    margin-left:15em;
}

#artist_info {
    float:left;
}

#player {
    width:300px;
    background-color:#333333;
    -moz-border-radius:6px;
    padding:5px;
    float:right;
}
#player_control {
    height:30px;
}

#playlist a {
    color: black;
    display: block;
    padding-left:10px;
    margin-top:2px;
    -moz-border-radius:6px;
    height: 20px;
    background-color: #52e93a;
    text-decoration: none;
    font-size: 0.8em;
}

#playlist a.playing, #playlist a.paused {
    background-color: #389e28;
}
