[% form.render_start %]
[% form.result.field('name').render %]
[% form.result.field('email').render %]
[% form.result.field('edit_password').render %]
[% form.result.field('change_email').render %]
[% form.result.field('password').render %]
[% form.result.field('password_confirm').render %]
[% form.result.field('send_password').render %]
[% form.result.field('roles').render %]
[% form.result.field('status').render %]
[% form.result.field('submit').render %]
[% form.render_end %]
